.widget {
    background: $c-light-blue;
    margin-bottom: $xl-size;
}

.widget__message {
    color: $c-off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid lighten($c-light-blue, 10%);
}   

.widget-header {
    background: $c-blue;
    color: $c-off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin: 0;
}