//Colors
$c-off-black: #20222b;
$c-dark-blue: #333745;
$c-blue: #3c4251;
$c-light-blue: #464b5e;
$c-purple: #8357c5;
$c-off-white: #a5afd7;
$c-white: #ffffff;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Breakpoints
$desktop-breakpoint: 45rem;




